<h2 class="heading">Tour of Heroes</h2>

<div *ngIf="selectedhero" class="alert-success">
  <table>
    <tr>
      <td><strong>{{selectedhero.name}}</strong></td>
    </tr>
    <tr *ngFor="let heroStat of selectedhero.stats">
      <td>{{heroStat.key}}</td>
      <td>{{heroStat.value}}</td>
    </tr>
  </table>
</div>
<table border="1" class="heroes black">
  <tr>
    <th>Name</th>
    <th>Power</th>
    <th>Stat(Strength)</th>
    <th>Stat(Intelligence)</th>
    <th>Stat(Stamina)</th>
    <th><strong>Evolve</strong></th>
  </tr>
  <tr *ngFor="let hero of superHeroes">
    <td>{{hero.name}}</td>
    <td>{{hero.power}}</td>
    <td *ngFor="let stats of hero.stats">{{stats.value}}</td>
    <td>
      <button (click)="evolveHero(hero)">Evolve</button>
    </td>
  
  </tr>
</table>