.heading{
  text-align: center;
  color: blue;
}

.red{
  color: red;
  font-weight: lighter;
  background-color: lightgrey;
}

.green{
  color: green;
  font-weight: bold;
  background-color: burlywood;
}

.blue{
  color: blue;
  font-weight: bolder;
  background-color: azure;
}

.yellow{
  color: yellow;
  font-weight: 900;
  background-color: sienna;
}

table{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

span{
  display: flex;
  justify-content: center;
}

th{
 font-weight: 900;
}
