body {
}

.heading {
  color: blue;
  text-align: center;
}

table{
    width:100%;
}
thead{
    background-color:silver;
}

.colorOne {
  font-weight: 400;
  color: red;
  background-color: lightblue;
}

.colorTwo {
  font-weight: 200;
  color: white;
  background-color: maroon;
}

.colorThree {
  font-weight: 600;
  color: green;
  background-color: lightyellow;
}

.colorFour {
  font-weight: 500;
  color: white;
  background-color: black;
}
