.heading{
    text-align: center;
    color: blue;  
}

:root{

color: black;
font-size: 100;
background: blue;

color: red;
font-size: 350;
background: yellow;

color: green;
font-size: 450;
background: purple;

color: white;
font-size: 150;
background: black;

}

.table th {
    margin:auto ;
    text-align: center;
    background-color: grey;
    color: white;
}

.table{
      margin: auto;
    width: 60%;
    padding: auto;
}

