.heading {
    text-align: center;
    color: blue;
  }
  
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
  }
  
  .reb-color{
    color: red;
    font-weight: bold;
    background-color: aliceblue;
  }
  
  .yellow-color{
    color: yellow;
    font-weight: bolder;
    background-color:brown;
  }
  
  .green-color{
    color: green;
    font-weight:lighter ;
    background-color:bisque;
  }
  
  .orange-color{
    color: orange;
    font-weight:normal ;
    background-color:azure;
  }
  