<div>
  <mat-table [dataSource]="dataSource" >
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let hero"> {{hero.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="power">
      <mat-header-cell *matHeaderCellDef> Power </mat-header-cell>
      <mat-cell *matCellDef="let hero"> {{hero.power}} </mat-cell>
    </ng-container>
    <!--<ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Stats(Strength) </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{hero.stat.key}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="stats">
      <mat-header-cell *matHeaderCellDef>StatsValue</mat-header-cell>
      <mat-cell *matCellDef="let hero"> {{hero.stats[0].value}} </mat-cell>
    </ng-container>-->

    <ng-container matColumnDef="stats">
      <mat-header-cell *matHeaderCellDef>Name value </mat-header-cell>
      <mat-cell *matCellDef="let hero"> {{hero.stats[0].key}} : {{hero.stats[0].value}}  </mat-cell>
    </ng-container>

    <ng-container matColumnDef="evolveAction">
      <mat-header-cell *matHeaderCellDef>Update</mat-header-cell>
      <mat-cell *matCellDef="let hero">
        <button mat-flat-button color="primary">Evolve</button>
      </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
