.heading {
  text-align: center;
  color: blue;
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}

.green {
  color: green;
  font-weight: 100;
  background-color: lightgray;
}

.red {
  color: red;
  font-weight: 200;
  background-color: black;
}

.purple {
  color: white;
  font-weight: 300;
  background-color: purple;
}

.yellow {
  color: yellow;
  font-weight: 400;
  background-color: grey;
}
