.heading {
  text-align: center;
  color: #0000a3;
}

.random0{
  color: #FF0000;
  font-weight: 300;
}

.random1{
  color:#00FF00;
  font-weight: 500;
}

.random2{
  color: #ffa500;
  font-weight: 700;
}

.random3{
  color: #6a0dad;
  font-weight: 900;
}
