/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.heading {
    text-align: center !important;
    color: blue;
}

.heroHeading {
    font-weight: 600;
    background-color: lightgray;
    padding: 7px;
}

.hero0{
    font-weight: 600;
    color: firebrick;
    background-color: lightblue;
    padding: 7px;
}

.hero1 {
    font-weight: 300;
    color: darkblue;
    background-color: lightgreen;
    padding: 7px;
}

.hero2 {
    font-weight: 900;
    color: deeppink;
    background-color: lightyellow;
    padding: 7px;
}

.hero3 {
    font-weight: 500;
    color: purple;
    background-color: lightcyan;
    padding: 7px;
}