/* You can add global styles to this file, and also import other style files */
body {
    font-family:Arial;
    font-size: 16px;
}

.heading {
  text-align: center;
  color: blue;
}

.alert-success {
  border: 1px solid lightgreen;
  background-color: #90EE90;
  color: green;
  margin: 10px 0px;
  padding: 10px;
}

.heroes {
  width: 100%;
  border-collapse: collapse;
}

.heroes th {
 
  font-weight:bold;

}

.heroes td, .heroes th {
  padding: 10px;
  border: 1px solid #ddd;
  text-align:left;
}

button {
    
    border:none;
    font-size:16px;
    padding:5px;
    min-width:100px;
  
    cursor:pointer;
}

button:hover {
    opacity:0.6;
}

.blue {
  font-weight: normal;
  color: deepskyblue
}
.blue th {
  background-color: deepskyblue;
  color: white;
}
.blue button {
  background-color: deepskyblue;
  color: white;
}

.green {
  font-weight: bold;
  color: green;
}

.green th {
  background-color: green;
  color: white;
}

.green button {
  background-color: green;
  color: white;
}

.red {
  font-weight: bolder;
  color:red;
}

.red th {
  background-color: red;
  color: white;
}

.red button {
  background-color: red;
  color: white;
}

.black {
  font-weight: lighter;
}

.black th {
  background-color: black;
  color: white;
}

.black button {
  background-color: black;
  color: white;
}

